
body {
  	background-size: cover;
	background-color: teal;
	border: 2px grey;
	margin: 50px;
}
h1 {
	color: orange;
	font-family: 'Open Sans', sans-serif;
	font-size: 300%;
}
h3	{
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Roboto', sans-serif;
	margin: 50px;
}
*   {
	text-align: left;
	padding: 30px;
  	color: orange;
	padding: 24px;
	font-family: 'Roboto', sans-serif;;
}
